@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ghibli App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/filters.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/script1.js"></script>

</head>

@*<script type="text/javascript" src="~/js/script1.js"></script>*@

<script type="text/javascript" src="~/js/dropDown.js"></script>
<div style="width:100%; margin:5px;">
    <div class="dropdown" id="p12">
        <button onclick="myFunction()" class="dropbtn">Dropdown<span class="glyphicon glyphicon-chevron-down" style="padding:0px 5px;"></span></button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <div style="display:flex;">
                <input type="checkbox" style="margin:15px 0px 0px 10px;" value="PROJ" id="checkbox1" class="project"><a href="#project1" class="link" id="link1">Project1</a>
            </div>
            <div style="display:flex;">
                <input type="checkbox" style="margin:15px 0px 0px 10px;" value="PRO2" id="checkbox2" class="project"><a href="#project2" class="link" id="link2">Project2</a>
            </div>
            <div style="display:flex;">
                <input type="checkbox" style="margin:15px 0px 0px 10px;" value="TES" id="checkbox3" class="project"><a href="#Testing1" class="link" id="link3">Testing1</a>
            </div>
        </div>
    </div>
</div>

<div style="width:100%;">
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
